<nav class="bg-green-700 text-white px-4 py-3 flex justify-between items-center">
  <ul class="flex space-x-6">
    <li><a data-link href="/beranda"  class="hover:text-green-300"><i class="fa fa-home mr-2"></i>Beranda</a></li>
    <li><a data-link href="/materi"   class="hover:text-green-300"><i class="fa fa-book mr-2"></i>Materi</a></li>
    <li><a data-link href="/kuis"     class="hover:text-green-300"><i class="fa fa-question-circle mr-2"></i>Kuis</a></li>
  </ul>

  <a data-link href="/beranda" class="font-bold text-xl flex items-center space-x-2">
      <i class="fa fa-lightbulb text-yellow-400"></i>
      <span><span class="text-green-300">Edu</span>Smart</span>
  </a>

  <ul class="flex space-x-6">
    <li><a data-link href="/about"    class="hover:text-green-300"><i class="fa fa-info-circle mr-2"></i>About</a></li>
    <li><a data-link href="/contact"  class="hover:text-green-300"><i class="fa fa-envelope mr-2"></i>Contact</a></li>
  </ul>
</nav>
